/*********
COMMON
*********/
body {
    font-family:"monospace",sans-serif;
}

.font-primary {
    color:rgb(121, 193, 121)
}
.title-icon {
    font-size:30px;
    font-weight:bold;
}
p {
    font-size: 14px;
}
p {
    font-size: 14px;
}
h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}
a.font-black {
    color: #000 !important
}
/*********
ABOUT
*********/
#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}
#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;

}
#about .name {
    font-size: 19px;

}
#about .vocation {
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}
#about .skills {
    font-size: 14px;
    color: rgb(121, 193, 121);
    margin-bottom: 10px auto;

}
#about .email {
    margin-top: 14px;
    font-size: 15px;
}
#about .icons {
    margin-top: 20px;
    font-size: 30px;
}
#about .icons a{
    color: rgb(85, 85, 85);
}
/*********
PROJECTS
*********/

#projects {
    margin: 60px auto;
    width: 80%;
}
#projects h2 {
    text-align: center;
}
#projects .card {
    width: 100%;
}
#projects .card-title {
    font-weight: bold;
}